<h1>What we are all about!</h1>
    
    <div id="paragraph">
            <p> 
                We ourselves are avid campers with a passion for exploring!
                 No one understands more than we do that packing for a camping trip is overwhelming.
                This is why we have decided to do the hard work for you. 
                Inside you will find lists you can create and save yourself according to your username and password 
                so they will be ready to go for this trip as well as the ones you plan to take in the future.
                Happy exploring!
             </p>
            </div>