<h1>Create your list</h1>

<div class= "addlistinput">
<div class="addlistform">

<input type="text" placeholder="Destination" ng-model="vm.list.destination" />
<input type="text" placeholder="Seasons" ng-model="vm.list.season" />
<input type="text" placeholder="Item1" ng-model="vm.list.item1" />
<input type="text" placeholder="Item2" ng-model="vm.list.item2" />
<input type="text" placeholder="Item3" ng-model="vm.list.item3" />


<div class= "addbutton">
<button type="button" ng-click="vm.addList()">Save List items</button>
</div>
</div>
</div>
