<h1>Pack-A-Snack</h1>
<h2>Register</h2>

<div class="register-page">
<div class="registerform">
<input type= "text" placeholder="Username" ng-model= "vm.user.username" />
<input type= "text" placeholder="Password" ng-model= "vm.user.password" />
<input type= "text" placeholder="Admin or user" ng-model= "vm.user.role" />
<input type= "text" placeholder="Confirm password" ng-model= "vm.user.confirmPassword" />


<button ng-click="vm.signup()">Submit</button>
<div class="login">
<a href= "/">Login</a>
</div>